/* Image alignment styles */

.align-left {
  margin: 0 1rem 0 0;
  float: left;
}
.align-right {
  margin: 0 0 0 1rem;
  float: right;
}
.align-left, .align-right {
  max-width: 100%;
  height: auto;
}

/* Adaptive images */

@media screen and (min-width: 960px) {
  .align-left, .align-right {
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .align-left, .align-right {
    max-width: 65%;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .align-left, .align-right {
    max-width: 55%;
  }
}
@media screen and (max-width: 639px) {
  .align-left, .align-right {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
